.container_content{
    padding: 0 20%;
    width: 100%;
    text-align: justify;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}

video{
    width: 100%;
}

@media (max-width: 400px){
    .container_content{
        padding: 20px;
    }
}