.container{
    background: white;
    height: calc(100vh - 50px);
    left: 260px;
    width: calc(100% - 260px);
    scroll-behavior: smooth;
    overflow-y: scroll;
}

.container_content{
    padding: 0 20%;
    width: 100%;
    text-align: justify;
}

h1,h2,h3,h4,h5,h6{
    text-transform: uppercase;
}

video{
    width: 100%;
}

@media (max-width: 400px){
    .container_content{
        padding: 20px;
    }
}