*{
    background-color: black;
}

.resume{
    width: 100%;
    min-height: 100vh;
    color: #fff;
    padding: 30px 100px;
}

.header_container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.image{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    justify-content: left;
    margin: 0px 20px;
}

.navigation{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.navigation p{
    margin: 0 30px;
    text-align: center;
}

.navigation p:hover{
    text-decoration: underline;
}

.navigation a{
    color: white;
}

.download_btn{
    display: flex;
    justify-content: right;
}

.download_btn button{
    border: 1px solid white;
    color: white;
    padding: 10px 20px;
}

.hero{
    display: grid;
    grid-template-columns: 50% 50%;
}

.hero_img{
    width: 100%;
    padding: 20px;
}

.hero_img img{
    width: 100%;
}

.welcome{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome_content{
    align-items: left;
    max-width: 400px
}

.hero_big{
    font-size: 50px;
    font-weight: 700;
}

.hero_content{
    font-size: 15px;
    line-height: 1.6rem;
    text-align: justify;
    margin: 10px 0;
}

.button_cta{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.hero_btn button{
    background-color: teal;
    border: 1px solid teal;
    color: white;
    padding: 10px 20px;  
    margin-top: 10px;
}

.about,
.stack,
.work{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.about_big,
.stack_big,
.work_big{
    margin: 0 20px;
    font-size: 50px;
    font-weight: 900;
    min-width: 200px;
}

.about_content,
.stack_content,
.work_content{
    width: 100%;
}

.about_intro {
    width: 400px;
    line-height: 1.6rem;
    text-align: justify;
}

.about_education,
.about_experience,
.about_certifications{
    text-transform: capitalize;
    margin: 30px 0;
    background-color:  rgb(38, 38, 38);
    padding: 15px;
    min-width: 100%;
}

.education,
.experience,
.certifications{
    background-color:  rgb(38, 38, 38);
    margin-bottom: 5px;
    font-size: 15px;
}

.education_items{
    background-color:  rgb(38, 38, 38);
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.5%;
    border-top: 1px solid black;
}

.education_item{
    background-color:  rgb(38, 38, 38);
}

.education_year,
.education_year p,
.education_instituition,
.education_instituition p,
.education_location,
.education_award_name{
    background-color: inherit;
}

.education_year p{
    font-size: 10px;
    opacity: 0.7;
    margin: 10px 0;
}

.education_instituition{
    display: flex;
    flex-direction: column;
}

.education_instituition p{
    font-size: 12px;
}

.education_instituition small{
    font-size: 10px;
    opacity: 0.7;
    margin: 5px 0 15px 0;
}

.education_award_name{
    font-size: 12px;
}

.experience_items,
.experience_item,
.experience_company_name,
.company_name,
.experience_company_positions,
.company_position,
.position_year,
.position_name,
.position_description{
    background-color: inherit;
}

.experience_items{
    margin: 5px 0;
    border-top: 1px solid black;
}

.experience_item{
    margin: 15px 0;
}

.company_name{
    font-size: 13px;
    margin-bottom: 10px;
}

.experience_company_positions{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.5%;
}

.position_year{
    font-size: 10px;
    opacity: 0.7;
    margin: 5px 0 15px 0;
}

.position_name{
    font-size: 12px;
    margin-bottom: 15px;
}

.position_description{
    font-size: 10px;
    opacity: 0.7;
    margin: 5px 0 15px 0;
}

.certification_items,
.certificate,
.certification_name,
.certificate_details,
.certificate_name,
.certificate_details,
.certificate_issuer,
.certificate_id{
    background-color: inherit;
}

.certification_items{
    border-top: 1px solid black;
}

.certificate{
    margin-top: 10px;
}

.certification_items{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.5%;
}

.certificate a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.certificate_details{
    display: flex;
    flex-direction: row;
    font-size: 10px;
    opacity: 0.7;
    margin: 10px 0 10px 0;
}

.tech_stack,
.other,
.languages {
    display: flex;
    font-size: 20px;
    font-weight: 900;
    height: 65px;
    align-items: center;
}

.other,
.languages{
    margin: 20px 0;
}

.stack_item,
.stack_image,
.stack_name,
.stack_name p{
    background-color: rgb(38, 38, 38);
    text-transform: capitalize;
}

.stack_items{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 5%;
}

.stack_item{
    width: 100%;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 15px 0;
}

.stack_image{
    width: 40px;
    height: 40px;
    margin: 10px;
}

.stack_image img{
    width: 40px;
    height: 40px;
}

.stack_name{
    display: flex;
    align-items: center;
    padding: 10px 0;
    font-size: 15px;
    font-weight: 900;
}

.stack_name p {
    width: 100%;
}

.stack_no_image,
table, tr, td{
    background-color: rgb(38, 38, 38);
}

table{
    width: 100%;
    padding: 10px 15px
}

td{
    line-height: 1.6rem;
    padding: 15px 0;
    font-size: 15px;
    font-weight: 900;
}

.language_list,
.language,
.language_name,
.language_fluency{
    background-color: rgb(38, 38, 38);
}

.language_list{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.5%;
    padding: 15px;
    margin-bottom: 30px;
}

.language{
    display: flex;
    flex-direction: row;
}

.language_name,
.language_fluency{
    margin: 0 5px;
}

.language_fluency{
    opacity: 0.7;
}

.work_intro{
    font-size: 15px;
    line-height: 1.6rem;
    text-align: justify;
    margin: 10px 0;
    max-width: 100%;
}

.work_projects{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    gap: 0.5%;
}

.work_project{
    position: relative;
    width: 100%;
    padding: 10px;
}

.project_image{
    display: block;
    width: 100%;
}

.project_image img{
    width: 100%;
    height: 100%;
}

.project_info{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.project_info:hover{
    opacity: 1;
}

.project_info div,
.project_info a{
    background: none;
}

.project_title{
    font-size: 20px;
    font-weight: 900;
}

.project_mini_description{
    font-size: 13px;
    margin: 15px 0;
    text-align: justify;
}

.project_link a{
    text-decoration: none;
    text-transform: lowercase;
    font-size: 18px;
    font-weight: 700;
    transition: font-size 0.25s;
    color: teal;
}

.project_link a:hover{
    font-size: 25px;
    transition: font-size 0.25s;
}

.contact{
    display: grid;
    grid-template-columns: 25% 75%;
    margin: 30px 0;
}

.contact_big{
    margin: 0 20px;
    font-size: 50px;
    font-weight: 900;
    min-width: 200px;
}

.send_mail,
.resume_dwnd{
    font-size: 15px;
    margin: 20px;
}

.send_mail .content,
.resume_dwnd .content{
    color: teal;
    text-decoration: none;
    font-size: 12px;
}

.right_side form{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: end;
}

.contact_text,
.contact_email{
    font-size: 15px;
    color: white;
    width: 100%;
    padding: 20px;
    line-height: 1.6rem;
    border: 1px solid rgba(255,255,255, 0.8);
    margin-bottom: 15px;
}

.contact_message{
    font-size: 15px;
    color: white;
    width: 100%;
    height: 200px;
    padding: 20px;
    line-height: 1.6rem;
    border: 1px solid rgba(255,255,255, 0.8);
    margin-bottom: 15px;
}

.contact_btn{
    border: 1px solid teal;
    padding: 20px;
    width: 150px;
    color: teal;
}

@media only screen and (max-width:1300px){
    .navigation{
        display: none;
    }

    .contact{
        grid-template-columns: 100%;
    }
    
    .right_side form{
        width: 100%;
    }
}

@media only screen and (max-width:1200px){
    .stack_items{
        grid-template-columns: 48% 48%;
        gap: 4%;
        overflow-y: scroll;
    }

    .project_mini_description{
        display: none;
    }    
}

@media only screen and (max-width:1000px){
    .experience_company_positions,
    .certification_items,
    .language_list,
    .education_items{
        grid-template-columns: 48% 48%;
        gap: 2%;
    }
}

@media only screen and (max-width:900px){
    .hero{
        grid-template-columns: 49% 49%;
        gap: 2%;
    }

    .welcome,
    .hero_img{
        padding: 0;
    }

    .about,
    .stack,
    .work{
        flex-direction: column;
    } 

    .about_big,
    .stack_big,
    .work_big{
        margin: 0;
    }

    .hero{
        grid-template-columns: 100%;
    }

    .welcome_content{
        max-width: 100%;
    }
}

@media only screen and (max-width:600px) {
    .resume{
        padding: 10px;
    }

    .about_intro{
        width: 100%;
    }

    .work_projects{
        grid-template-columns: 49% 49%;
        gap: 1%
    }
}

@media only screen and (max-width:500px){
    .experience_company_positions,
    .certification_items,
    .language_list,
    .education_items{
        grid-template-columns: 100%
    }

    .stack_no_image tr{
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:300px){
    .work_projects,
    .stack_items{
        grid-template-columns: 100%;
        gap: 0;
    }

    .stack_item{
        padding: 0;
        margin: 5px 0;
    }
}