<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Developer Dashboard</title>
    <meta name="description" content="Developer Dasboard">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="static/assets/dashboard/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/assets/dashboard/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="static/assets/dashboard/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="static/assets/dashboard/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="static/assets/dashboard/vendors/selectFX/css/cs-skin-elastic.css">


    <link rel="stylesheet" href="static/assets/dashboard/assets/css/style.css">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>

<body>
    <!-- Right Panel -->

    <div id="right-panel" class="right-panel">

        <!-- Header-->
        <header id="header" class="header">

            <div class="header-menu">

                <div class="col-sm-4">
                    <div class="header-left">
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-settings" style="color: red;"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <a class="dropdown-item media bg-flat-color-6" href="/view_keys">
                                <i class="fa fa-eye" style="color: green;"></i>
                                <p style="color: green;">View Api Keys.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-6" href="/generate_tokens">
                                <i class="fa fa-key" style="color: red;"></i>
                                <p style="color: red;">Generate New Api Keys.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-6" href="/limit_calls">
                                <i class="fa fa-warning" style="color: orange;"></i>
                                <p style="color: orange;">Limit Api Calls.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-6" href="/change_tiers">
                                <i class="fa fa-wrench" style="color: royalblue;"></i>
                                <p style="color: royalblue;">Change Tiers.</p>
                            </a>
                            </div>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-user" style="color: royalblue;"></i>
                                <!-- <span class="count bg-primary">9</span> -->
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <a class="dropdown-item media bg-flat-color-6" href="#">
                                <i class="fa fa-edit" style="color: royalblue;"></i>
                                <p style="color: royalblue;" >Edit User Profile.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-6" href="#">
                                <i class="fa fa-exchange" style="color: red;"></i>
                                <p style="color: red;">Change Password.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-6" href="#">
                                <i class="fa fa-exchange" style="color: red;"></i>
                                <p style="color: red;">Change Email.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-6" href="#">
                                <i class="fa fa-exchange" style="color:orange;"></i>
                                <p style="color: orange;">Change Phone Number.</p>
                            </a>
                            </div>
                        </div>

                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-power-off" style="color: green;"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <a class="dropdown-item media bg-flat-color-6" href="#">
                                    <label class="switch switch-text switch-success switch-pill ">
                                        <input type="checkbox" class="switch-input" name="SF_Switch" checked="true"> 
                                        <span data-on="On" data-off="Off" class="switch-label"></span> 
                                        <span class="switch-handle"></span>
                                    </label>
                                <p style="color: green; margin-left: 5px" >Crop Fertility Api.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-6" href="#">
                                    <label class="switch switch-text switch-success switch-pill ">
                                        <input type="checkbox" class="switch-input" name="CD_Switch" checked="true"> 
                                        <span data-on="On" data-off="Off" class="switch-label"></span> 
                                        <span class="switch-handle"></span>
                                    </label>
                                <p style="color: green; margin-left: 5px;"> Crop Disease Api.</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-6" href="#">
                                    <i class="fa fa-calendar" style="color: orange;"></i>
                                <p style="color: orange;">Schedule Control.</p>
                            </a>
                            </div>
                        </div>
        
                        <div class="dropdown for-notification">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="notification"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="ti-credit-card" style="color: green;"></i>
                                <!-- <span class="count bg-primary"></span> -->
                            </button>
                            <div class="dropdown-menu" aria-labelledby="notification">
                                <a class="dropdown-item media bg-flat-color-6" href="#">
                                <i class="fa fa-money" style="color: green;"></i>
                                <p style="color: green;">Make Payments</p>
                            </a>
                                <a class="dropdown-item media bg-flat-color-6" href="#">
                                <i class="fa fa-clock-o" style="color: green;"></i>
                                <p style="color: green;"> Check Due Date.</p>
                            </a>
                            </div>
                        </div>

                        <div class="dropdown for-message">
                            <button class="btn btn-secondary dropdown-toggle" type="button"
                                id="message"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-envelope" style="color:royalblue;"></i>
                            </button>
                        </div>

                        <div class="dropdown ">
                            <button class="btn btn-secondary dropdown-toggle" type="button">
                                <a href="/dev_out">
                                <i class="fa fa-sign-out" style="color: red;"></i>
                                </a>
                            </button>
                        </div>
    
                    </div>
                </div>

                
                <div class="col-sm-8">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <bold>{% print(Dev_Name) %}</bold>
                            <bold>NGR</bold>
                            <i class="flag-icon flag-icon-ng"></i>
                        </a>


                </div>
            </div>

        </header><!-- /header -->
        <!-- Header-->

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>YOUR DEVELOPER DASHBOARD</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">{%print(Dev_Position)%}</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        {% for items in All_Info: %}

        <div class="content mt-3">
            {% if alert: %}
            <div class="col-sm-12">
                <div class="alert  alert-success alert-dismissible fade show" role="alert">
                    <span class="badge badge-pill badge-success">Success</span> {% print(alert) %}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            {% endif %}
            
            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-1">
                    <div class="card-body pb-0">
                        <!-- <div class="dropdown float-right">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <div class="dropdown-menu-content">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div> -->
                        <h4 class="mb-0">
                            <span style="text-align: center;">TODAY'S REQUEST</span>
                        </h4>
                        <p class="text-light">Recorded Disease Api Calls</p>

                        <div class="chart-wrapper px-0" style="height:70px;" height="70">
                            <h2>{{items.Disease_Api_Calls}}</h2>Successful Test
                        </div>

                    </div>

                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-1">
                    <div class="card-body pb-0">
                        <!-- <div class="dropdown float-right">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton2" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <div class="dropdown-menu-content">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div> -->
                        <h4 class="mb-0">
                            <span style="text-align: center;">TODAY'S REQUEST</span>
                        </h4>
                        <p class="text-light">Fertility Api Calls</p>

                        <div class="chart-wrapper px-0" style="height:70px;" height="70">
                            <h2>{{items.Fertility_Api_Calls}}</h2>Successful Test
                        </div>

                    </div>
                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-5">
                    <div class="card-body pb-0">
                        <!-- <div class="dropdown float-right">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton3" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <div class="dropdown-menu-content">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div> -->
                        <h4 class="mb-0">
                            <span style="text-align: center;">TODAY'S REQUEST</span>
                        </h4>
                        <p class="text-light">Total Successful Api Calls</p>

                        <div class="chart-wrapper px-0" style="height:70px;" height="70">
                            <h2>{{ items.Api_Hits }}
                            </h2>Successful Test
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-4">
                    <div class="card-body pb-0">
                        <!-- <div class="dropdown float-right">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton4" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <div class="dropdown-menu-content">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div> -->
                        <h4 class="mb-0">
                            <span style="text-align: center;">TODAY'S REQUEST</span>
                        </h4>
                        <p class="text-light">Total Failed Calls</p>

                        <div class="chart-wrapper px-0" style="height:70px;" height="70">
                            <h2>{{ items.Api_Fails }}</h2>Failed Test
                        </div>

                    </div>
                </div>
            </div>
            <!--/.col-->


            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-1">
                    <div class="card-body pb-0">
                        <!-- <div class="dropdown float-right">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton1" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <div class="dropdown-menu-content">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div> -->
                        <h4 class="mb-0">
                            <span style="text-align: center;">ALL REQUESTS</span>
                        </h4>
                        <p class="text-light">Recorded Disease Api Calls</p>

                        <div class="chart-wrapper px-0" style="height:70px;" height="70">
                            <h2>{{items.Total_Disease_Test}}</h2>Successful Test
                        </div>

                    </div>

                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-1">
                    <div class="card-body pb-0">
                        <!-- <div class="dropdown float-right">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton2" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                                <div class="dropdown-menu-content">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div> -->
                        <h4 class="mb-0">
                            <span style="text-align: center;">ALL REQUESTS</span>
                        </h4>
                        <p class="text-light">Fertility Api Calls</p>

                        <div class="chart-wrapper px-0" style="height:70px;" height="70">
                            <h2>{{items.Total_Fertility_Test}}</h2>Successful Test
                        </div>

                    </div>
                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-5">
                    <div class="card-body pb-0">
                        <!-- <div class="dropdown float-right">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton3" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                                <div class="dropdown-menu-content">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div> -->
                        <h4 class="mb-0">
                            <span style="text-align: center;">ALL REQUESTS</span>
                        </h4>
                        <p class="text-light">Total Successful Api Calls</p>

                        <div class="chart-wrapper px-0" style="height:70px;" height="70">
                            <h2>{{items.Total_Api_Hits}}</h2>Successful Test
                        </div>
                    </div>
                </div>
            </div>
            <!--/.col-->

            <div class="col-sm-6 col-lg-3">
                <div class="card text-white bg-flat-color-4">
                    <div class="card-body pb-0">
                        <!-- <div class="dropdown float-right">
                            <button class="btn bg-transparent dropdown-toggle theme-toggle text-light" type="button" id="dropdownMenuButton4" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                                <div class="dropdown-menu-content">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div> -->
                        <h4 class="mb-0">
                            <span style="text-align: center;">ALL REQUESTS</span>
                        </h4>
                        <p class="text-light">Total Failed Calls</p>

                        <div class="chart-wrapper px-0" style="height:70px;" height="70">
                            <h2>{{items.Total_Api_Fails}}</h2>Failed Test
                        </div>

                    </div>
                </div>
            </div>
            <!--/.col-->




            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="card-title mb-0">Traffic</h4>
                                <div class="small text-muted">October 2017</div>
                            </div>
                            <!--/.col-->
                        </div>
                        <!--/.row-->
                        <div class="chart-wrapper mt-4">
                            <canvas id="trafficChart" style="height:200px;" height="200"></canvas>
                        </div>

                    </div>
                </div>
            </div>

            {% if items.Account_Type == 'Tier One': %}
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Current Total Bill</div>
                                <div class="stat-digit">{{(0.025*items.Total_Api_Hits)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Bill For Today</div>
                                <div class="stat-digit">{{(0.025*items.Api_Hits)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% elif items.Account_Type == "Tier Two": %}
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Current Total Bill</div>
                                <div class="stat-digit">{{(0.05*items.Total_Api_Hits)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Bill For Today</div>
                                <div class="stat-digit">{{(0.05*items.Api_Hits)}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else: %}
            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Current Total Bill</div>
                                <div class="stat-digit">An Error Occurred</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-money text-danger border-danger"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Bill For Today</div>
                                <div class="stat-digit">An Error Occured</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Average Query Interval</div>
                                <div class="stat-digit">961</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-user text-primary border-primary"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Average Daily Use</div>
                                <div class="stat-digit">961</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-server text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Most Active Crops</div>
                                <div class="stat-digit">770</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-6">
                <div class="card">
                    <div class="card-body">
                        <div class="stat-widget-one">
                            <div class="stat-icon dib"><i class="ti-server text-success border-success"></i></div>
                            <div class="stat-content dib">
                                <div class="stat-text">Active Projects</div>
                                <div class="stat-digit">770</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="animated fadeIn">
                <div class="row">
                    <!-- /# row -->
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <h4>Live DATA</h4>
                            </div>
                            <div class="card-body">
                                <span class="updating-chart">5,3,9,6,5,9,7,3,5,2,5,3,9,6,5,9,7,3,5,2</span>
                            </div>
                        </div>
                        <!-- /# card -->
                    </div>
                    <!-- /# column -->
                </div>
            </div>
                    
  
        </div> <!-- .content -->
        {% endfor %}
    </div><!-- /#right-panel -->

    <!-- Right Panel -->



    <script src="static/assets/dashboard/vendors/jquery/dist/jquery.min.js"></script>
    <script src="static/assets/dashboard/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="static/assets/dashboard/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="static/assets/dashboard/assets/js/main.js"></script>

    <script src="static/assets/dashboard/vendors/peity/jquery.peity.min.js"></script>
    <!-- scripit init-->
    <script src="static/assets/dashboard/assets/js/init-scripts/peitychart/peitychart.init.js"></script>
    <!-- scripit init-->


    <script src="static/assets/dashboard/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="static/assets/dashboard/assets/js/dashboard.js"></script>
    <script src="static/assets/dashboard/assets/js/widgets.js"></script>
    <script src="static/assets/dashboard/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="static/assets/dashboard/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="static/assets/dashboard/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>

</body>

</html>
