<!DOCTYPE html>
<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="static/assets/magazine/img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="AGRO A.I">
		<!-- Meta Description -->
		{% for content in Content: %}
		<meta name="description" content="{{content.Title}}">
		{% endfor %}
		<!-- Meta Keyword -->
		<meta name="keywords" content="Agritech, Agriculture, Artificial Intelligence, Machine Learning">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		{% for content in Content: %}
		<title>AGRO AI-Image Post {{content.Title}}</title>
		{% endfor %}
		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
		<!--
		CSS
		============================================= -->
		<link rel="stylesheet" href="../static/assets/magazine/css/linearicons.css">
		<link rel="stylesheet" href="../static/assets/magazine/css/font-awesome.min.css">
		<link rel="stylesheet" href="../static/assets/magazine/css/bootstrap.css">
		<link rel="stylesheet" href="../static/assets/magazine/css/magnific-popup.css">
		<link rel="stylesheet" href="../static/assets/magazine/css/nice-select.css">
		<link rel="stylesheet" href="../static/assets/magazine/css/animate.min.css">
		<link rel="stylesheet" href="../static/assets/magazine/css/owl.carousel.css">
		<link rel="stylesheet" href="../static/assets/magazine/css/jquery-ui.css">
		<link rel="stylesheet" href="../static/assets/magazine/css/main.css">
		<!-- 
		ADSENSE INTEGRATION
		============================================ -->
		<script data-ad-client="ca-pub-9758572711641070" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	</head>
	<body>
		<header>
			
			<div class="header-top">
				<div class="container">
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-left no-padding">
							<ul>
								<li><a href="https://www.facebook.com/agroaiTeam"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/agro_ai"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
								<li><a href="#"><i class="fa fa-behance"></i></a></li>
							</ul>
						</div>
						<div class="col-lg-6 col-md-6 col-sm-6 col-6 header-top-right no-padding">
							<ul>
								<li><a href="tel:+234 811 648 5065"><span class="lnr lnr-phone-handset"></span><span>+234 811 648 5065</span></a></li>
								<li><a href="mailto:support@agroai.farm"><span class="lnr lnr-envelope"></span><span>support@agroai.farm</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="logo-wrap">
				<div class="container">
					<div class="row justify-content-between align-items-center">
						<div class="col-lg-4 col-md-4 col-sm-12 logo-left no-padding">
							<a href="/blog">
								<img class="img-fluid" src="../static/assets/magazine/img/logo.jpeg" alt="">
							</a>
						</div>
						<div class="col-lg-8 col-md-8 col-sm-12 logo-right no-padding ads-banner">
							<img class="img-fluid" src="../static/assets/magazine/img/banner-ad.jpeg" alt="">
						</div>
					</div>
				</div>
			</div>
			<div class="container main-menu" id="main-menu">
				<div class="row align-items-center justify-content-between">
					<nav id="nav-menu-container">
						<ul class="nav-menu">
							<li class="menu-active"><a href="/blog">Home</a></li>
							<li><a href="/activity_manager">Activity Manager</a></li>
							<li><a href="/archive">Archive</a></li>
							<li><a href="/category">Category</a></li>
					</ul>
					</nav><!-- #nav-menu-container -->
					<div class="navbar-right">
						<form class="Search">
							<input type="text" class="form-control Search-box" name="Search-box" id="Search-box" placeholder="Search">
							<label for="Search-box" class="Search-box-label">
								<span class="lnr lnr-magnifier"></span>
							</label>
							<span class="Search-close">
								<span class="lnr lnr-cross"></span>
							</span>
						</form>
					</div>
				</div>
			</div>
		</header>
		
		<div class="site-main-container">
			<!-- Start top-post Area -->
			<!-- <section class="top-post-area pt-10">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-12">
							<div class="hero-nav-area">
								<h1 class="text-white">Image Post</h1>
								<p class="text-white link-nav"><a href="/blog">Blog Home </a>  <span class="lnr lnr-arrow-right"></span><a href="#">Post Types </a><span class="lnr lnr-arrow-right"></span><a href="/image_post">Image Post </a></p>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="news-tracker-wrap">
								<h6><span>Breaking News:</span>   <a href="#">Comming Soon</a></h6>
							</div>
						</div>
					</div>
				</div>
			</section> -->
			<!-- End top-post Area -->

			{% for content in Content: %}

			<!-- Start latest-post Area -->
			<section class="latest-post-area pb-120">
				<div class="container no-padding">
					<div class="row">
						<div class="col-lg-8 post-list">
							<!-- Start single-post Area -->
							<div class="single-post-wrap">
								<div class="feature-img-thumb relative">
									<div class="overlay overlay-bg"></div>
									<img class="img-fluid" src="../static/assets/magazine/img/{{ content.Image1 }}" alt="">
								</div>
								<div class="content-wrap">
									<ul class="tags mt-10">
										<li><a href="#">{{ content.Category }}</a></li>
									</ul>
									<a href="#">
										<h3>{{ content.Title }}</h3>
									</a>
									<ul class="meta pb-20">
										<li><a href="#"><span class="lnr lnr-user"></span>{{ content.Author_Name }}</a></li>
										<li><a href="#"><span class="lnr lnr-calendar-full"></span>{{ content.Date_Posted.date() }}</a></li>
										<li><a href="#"><span class="lnr lnr-eye"></span> {{ content.NoC }} Views </a></li>
									</ul>

	{% filter markdown %}

	{{content.Content}}

	{% endfilter %}
			{% endfor %}
								
								<div class="comment-sec-area">
									<div class="container">
										<div class="row flex-column">
											<h6>{{ CC }} Comments</h6>
											{% for opinion in Opinions %}
											<div class="comment-list">
												<div class="single-comment justify-content-between d-flex">
													<div class="user justify-content-between d-flex">
														<div class="desc">
															<h5><a href="#">{{ opinion.Name }}</a></h5>
															<p class="date">{{ opinion.Date_Commented.date() }} </p>
															<p class="comment">
																{{ opinion.comment }}
															</p>
														</div>
													</div>
													{% if 'blogger_Name' in session: %}
													<div class="reply-btn">
														<a href="" class="btn-reply text-uppercase">reply</a>
													</div>
													{% endif %}
												</div>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
							</div>
							<div class="comment-form">
								<h4>Post Comment</h4>
								{% for content in Content: %}
								<form enctype="multipart/form-data" action="/ipcomment/{{content.Title}}" method="POST">
								{% endfor %}
									<div class="form-group form-inline">
										<div class="form-group col-lg-6 col-md-12 name">
											<input type="text" class="form-control" name="name" placeholder="Enter Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Name'">
										</div>
										<div class="form-group col-lg-6 col-md-12 email">
											<input type="email" class="form-control" name="email" placeholder="Enter email address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter email address'">
										</div>
									</div>
									<div class="form-group">
										<textarea class="form-control mb-10" rows="5" name="message" placeholder="Messege" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Messege'" required=""></textarea>
									</div>
									<input type="submit" class="primary-btn text-uppercase" value= "Post Comment">
								</form>
							</div>
						</div>
						<!-- End single-post Area -->
					</div>
					<div class="col-lg-4">
						<div class="sidebars-area">
							<div class="single-sidebar-widget editors-pick-widget">
								<h6 class="title">Editor’s Pick</h6>
								<div class="editors-pick-post">
									{% if Editors_Choices[0].Blog_Type in ['Plain Post'] %}
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="../static/assets/magazine/img/plain.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="/plain_post/{{Editors_Choices[0].Title}}">{{Editors_Choices[0].Category}}</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="/plain_post/{{Editors_Choices[0].Title}}">
											<h4 class="mt-20">{{Editors_Choices[0].Title}}.</h4>
										</a>
										<ul class="meta">
											<li><a href="/plain_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-user"></span>{{Editors_Choices[0].Author_Name}}</a></li>
											<li><a href="/plain_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[0].Date_Posted.date()}}</a></li>
											<li><a href="/plain_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[0].NoC}} Views</a></li>
										</ul>
										<p class="excert">
											{{Editors_Choices[0].Content[:200]}}
										</p>
									</div>
										{% endif %}

										{% if Editors_Choices[0].Blog_Type in ['Audio Post'] %}
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="../static/assets/magazine/img/audio2.jpg" alt="">
										</div>
										<ul class="tags">
											<li><a href="/audio_post/{{Editors_Choices[0].Title}}">{{Editors_Choices[0].Category}}</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="/audio_post/{{Editors_Choices[0].Title}}">
											<h4 class="mt-20">{{Editors_Choices[0].Title}}.</h4>
										</a>
										<ul class="meta">
											<li><a href="/audio_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-user"></span>{{Editors_Choices[0].Author_Name}}</a></li>
											<li><a href="/audio_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[0].Date_Posted.date()}}</a></li>
											<li><a href="/audio_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[0].NoC}} Views </a></li>
										</ul>
										<p class="excert">
											{{Editors_Choices[0].Content[:200]}}.
										</p>
									</div>
										{% endif %}

										{% if Editors_Choices[0].Blog_Type in ['Gallery Post'] %}
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="../static/assets/magazine/img/{{Editors_Choices[0].Image1}}" alt="">
										</div>
										<ul class="tags">
											<li><a href="/gallery_post/{{Editors_Choices[0].Title}}">{{Editors_Choices[0].Category}}</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="/gallery_post/{{Editors_Choices[0].Title}}">
											<h4 class="mt-20">{{Editors_Choices[0].Title}}.</h4>
										</a>
										<ul class="meta">
											<li><a href="/gallery_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-user"></span>{{Editors_Choices[0].Author_Name}}</a></li>
											<li><a href="/gallery_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[0].Date_Posted.date()}}</a></li>
											<li><a href="/gallery_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[0].NoC}} Views </a></li>
										</ul>
										<p class="excert">
											{{Editors_Choices[0].Content[:200]}}.
										</p>
									</div>
										{% endif %}

										{% if Editors_Choices[0].Blog_Type in ['Image Post'] %}
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="../static/assets/magazine/img/{{Editors_Choices[0].Image1}}" alt="">
										</div>
										<ul class="tags">
											<li><a href="/image_post/{{Editors_Choices[0].Title}}">{{Editors_Choices[0].Category}}</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="/image_post/{{Editors_Choices[0].Title}}">
											<h4 class="mt-20">{{Editors_Choices[0].Title}}.</h4>
										</a>
										<ul class="meta">
											<li><a href="/image_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-user"></span>{{Editors_Choices[0].Author_Name}}</a></li>
											<li><a href="/image_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[0].Date_Posted.date()}}</a></li>
											<li><a href="/image_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[0].NoC}} Views </a></li>
										</ul>
										<p class="excert">
											{{Editors_Choices[0].Content[:200]}}.
										</p>
									</div>
										{% endif %}

										{% if Editors_Choices[0].Blog_Type in ['Video Post'] %}
									<div class="feature-img-wrap relative">
										<div class="feature-img relative">
											<div class="overlay overlay-bg"></div>
											<img class="img-fluid" src="../static/assets/magazine/img/{{Editors_Choices[0].Image1}}" alt="">
										</div>
										<ul class="tags">
											<li><a href="/video_post/{{Editors_Choices[0].Title}}">{{Editors_Choices[0].Category}}</a></li>
										</ul>
									</div>
									<div class="details">
										<a href="/video_post/{{Editors_Choices[0].Title}}">
											<h4 class="mt-20">{{Editors_Choices[0].Title}}.</h4>
										</a>
										<ul class="meta">
											<li><a href="/video_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-user"></span>{{Editors_Choices[0].Author_Name}}</a></li>
											<li><a href="/video_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[0].Date_Posted.date()}}</a></li>
											<li><a href="/video_post/{{Editors_Choices[0].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[0].NoC}} Views </a></li>
										</ul>
										<p class="excert">
											{{Editors_Choices[0].Content[:200]}}.
										</p>
									</div>
										{% endif %}
									
										
									<div class="post-lists">
										{% if Editors_Choices[1].Blog_Type in ['Plain Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/plain.jpg" alt="">
											</div>
											<div class="detail">
												<a href="/plain_post/{{Editors_Choices[1].Title}}">
													<h6>
														{{Editors_Choices[1].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/plain_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[1].Title.Date_Posted.date()}}</a></li>
													<li><a href="/plain_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[1].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[1].Blog_Type in ['Audio Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/audio2.jpg" alt="">
											</div>
											<div class="detail">
												<a href="/ausio_post/{{Editors_Choices[1].Title}}">
													<h6>
														{{Editors_Choices[1].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/audio_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[1].Date_Posted.date()}}</a></li>
													<li><a href="/audio_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[1].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[1].Blog_Type in ['Image Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/{{Editors_Choices[1].Image1}}" alt="">
											</div>
											<div class="detail">
												<a href="/image_post/{{Editors_Choices[1].Title}}">
													<h6>
														{{Editors_Choices[1].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/image_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[1].Date_Posted.date()}}</a></li>
													<li><a href="/image_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[1].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[1].Blog_Type in ['Gallery Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/{{Editors_Choices[1].Image1}}" alt="">
											</div>
											<div class="detail">
												<a href="/gallery_post/{{Editors_Choices[1].Title}}">
													<h6>
														{{Editors_Choices[1].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/gallery_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[1].Date_Posted.date()}}</a></li>
													<li><a href="/gallery_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[1].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[1].Blog_Type in ['Video Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/img/{{Editors_Choices[1].Image1}}" alt="">
											</div>
											<div class="detail">
												<a href="/video_post/{{Editors_Choices[1].Title}}">
													<h6>
														{{Editors_Choices[1].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/video_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[1].Date_Posted.date()}}</a></li>
													<li><a href="/video_post/{{Editors_Choices[1].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[1].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}


										{% if Editors_Choices[2].Blog_Type in ['Plain Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/plain.jpg" alt="">
											</div>
											<div class="detail">
												<a href="/plain_post/{{Editors_Choices[2].Title}}">
													<h6>
														{{Editors_Choices[2].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/plain_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[2].Date_Posted.date()}}</a></li>
													<li><a href="/plain_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[2].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[2].Blog_Type in ['Audio Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/audio2.jpg" alt="">
											</div>
											<div class="detail">
												<a href="/ausio_post/{{Editors_Choices[2].Title}}">
													<h6>
														{{Editors_Choices[2].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/audio_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[2].Date_Posted.date()}}</a></li>
													<li><a href="/audio_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[2].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[2].Blog_Type in ['Image Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/{{Editors_Choices[2].Image1}}" alt="">
											</div>
											<div class="detail">
												<a href="/image_post/{{Editors_Choices[2].Title}}">
													<h6>
														{{Editors_Choices[2].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/image_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[2].Date_Posted.date()}}</a></li>
													<li><a href="/image_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[2].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[2].Blog_Type in ['Gallery Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/{{Editors_Choices[2].Image1}}" alt="">
											</div>
											<div class="detail">
												<a href="/gallery_post/{{Editors_Choices[2].Title}}">
													<h6>
														{{Editors_Choices[2].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/gallery_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[2].Date_Posted.date()}}</a></li>
													<li><a href="/gallery_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[2].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[2].Blog_Type in ['Video Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/img/{{Editors_Choices[2].Image1}}" alt="">
											</div>
											<div class="detail">
												<a href="/video_post/{{Editors_Choices[2].Title}}">
													<h6>
														{{Editors_Choices[2].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/video_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[2].Date_Posted.date()}}</a></li>
													<li><a href="/video_post/{{Editors_Choices[2].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[2].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}


										{% if Editors_Choices[3].Blog_Type in ['Plain Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/plain.jpg" alt="">
											</div>
											<div class="detail">
												<a href="/plain_post/{{Editors_Choices[3].Title}}">
													<h6>
														{{Editors_Choices[3].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/plain_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[3].Title.Date_Posted.date()}}</a></li>
													<li><a href="/plain_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[3].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[3].Blog_Type in ['Audio Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/audio2.jpg" alt="">
											</div>
											<div class="detail">
												<a href="/ausio_post/{{Editors_Choices[3].Title}}">
													<h6>
														{{Editors_Choices[3].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/audio_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[3].Date_Posted.date()}}</a></li>
													<li><a href="/audio_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[3].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[3].Blog_Type in ['Image Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/{{Editors_Choices[3].Image1}}" alt="">
											</div>
											<div class="detail">
												<a href="/image_post/{{Editors_Choices[3].Title}}">
													<h6>
														{{Editors_Choices[3].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/image_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[3].Date_Posted.date()}}</a></li>
													<li><a href="/image_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[3].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[3].Blog_Type in ['Gallery Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/magazine/img/{{Editors_Choices[3].Image1}}" alt="">
											</div>
											<div class="detail">
												<a href="/gallery_post/{{Editors_Choices[3].Title}}">
													<h6>
														{{Editors_Choices[3].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/gallery_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[3].Date_Posted.date()}}</a></li>
													<li><a href="/gallery_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[3].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

										{% if Editors_Choices[3].Blog_Type in ['Video Post'] %}
										<div class="single-post d-flex flex-row">
											<div class="thumb">
												<img style=" width: 100px; height: 80px;" src="../static/assets/img/{{Editors_Choices[3].Image1}}" alt="">
											</div>
											<div class="detail">
												<a href="/video_post/{{Editors_Choices[3].Title}}">
													<h6>
														{{Editors_Choices[3].Title}}
													</h6>
												</a>
												<ul class="meta">
													<li><a href="/video_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-calendar-full"></span>{{Editors_Choices[3].Date_Posted.date()}}</a></li>
													<li><a href="/video_post/{{Editors_Choices[3].Title}}"><span class="lnr lnr-eye"></span>{{Editors_Choices[3].NoC}} Views</a></li>
												</ul>
											</div>
										</div>
										{% endif %}

									</div>
								</div>
							</div>
							<!-- <div class="single-sidebar-widget ads-widget">
								<img class="img-fluid" src="../static/assets/magazine/img/sidebar-ads.jpeg" alt="">
							</div> -->
							<!-- <div class="single-sidebar-widget most-popular-widget">
								<h6 class="title">Most Popular</h6>
								<div class="single-list flex-row d-flex">
									<div class="thumb">
										<img src="../static/assets/magazine/img/m1.jpg" alt="">
									</div>
									<div class="details">
										<a href="/image_post">
											<h6>Help Finding Information
											Online is so easy</h6>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
										</ul>
									</div>
								</div>
								<div class="single-list flex-row d-flex">
									<div class="thumb">
										<img src="../static/assets/magazine/img/m2.jpg" alt="">
									</div>
									<div class="details">
										<a href="/image_post">
											<h6>Compatible Inkjet Cartr
											world famous</h6>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
										</ul>
									</div>
								</div>
								<div class="single-list flex-row d-flex">
									<div class="thumb">
										<img src="../static/assets/magazine/img/m3.jpg" alt="">
									</div>
									<div class="details">
										<a href="/image_post">
											<h6>5 Tips For Offshore Soft
											Development </h6>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
										</ul>
									</div>
								</div>
								<div class="single-list flex-row d-flex">
									<div class="thumb">
										<img src="../static/assets/magazine/img/m4.jpg" alt="">
									</div>
									<div class="details">
										<a href="/image_post">
											<h6>5 Tips For Offshore Soft
											Development </h6>
										</a>
										<ul class="meta">
											<li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
											<li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
										</ul>
									</div>
								</div>
							</div> -->
							<div class="single-sidebar-widget social-network-widget">
								<h6 class="title">Social Networks</h6>
								<ul class="social-list">
									<!-- <li class="d-flex justify-content-between align-items-center fb">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-facebook" aria-hidden="true"></i>
											<p>983 Likes</p>
										</div>
										<a href="#">Like our page</a>
									</li> -->
									<li class="d-flex justify-content-between align-items-center tw">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-twitter" aria-hidden="true"></i>
											<p>Get Live Updates</p>
										</div>
										<a href="https://twitter.com/agro_ai">Follow Us</a>
									</li>
									<li class="d-flex justify-content-between align-items-center yt">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-youtube-play" aria-hidden="true"></i>
											<p>Watch Our Progress</p>
										</div>
										<a href="https://www.youtube.com/channel/UCyYL7hN4E_9VxT88DPV6QIA?view_as=subscriber">Subscribe</a>
									</li>
									<!-- <li class="d-flex justify-content-between align-items-center rs">
										<div class="icons d-flex flex-row align-items-center">
											<i class="fa fa-rss" aria-hidden="true"></i>
											<p>983 Subscribe</p>
										</div>
										<a href="#">Subscribe</a>
									</li> -->
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End latest-post Area -->
	</div>
	
	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>Top Products</h4>
					<ul>
						<li><a href="#">Managed Website</a></li>
						<li><a href="#">Manage Reputation</a></li>
						<li><a href="#">Power Tools</a></li>
						<li><a href="#">Marketing Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Quick Links</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Features</h4>
					<ul>
						<li><a href="#">Jobs</a></li>
						<li><a href="#">Brand Assets</a></li>
						<li><a href="#">Investor Relations</a></li>
						<li><a href="#">Terms of Service</a></li>
					</ul>
				</div>
				<div class="col-lg-2 col-md-6 single-footer-widget">
					<h4>Resources</h4>
					<ul>
						<li><a href="#">Guides</a></li>
						<li><a href="#">Research</a></li>
						<li><a href="#">Experts</a></li>
						<li><a href="#">Agencies</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 single-footer-widget">
					<h4>Instragram Feed</h4>
					<ul class="instafeed d-flex flex-wrap">
						<li><img src="../static/assets/magazine/img/i1.jpg" alt=""></li>
						<li><img src="../static/assets/magazine/img/i2.jpg" alt=""></li>
						<li><img src="../static/assets/magazine/img/i3.jpg" alt=""></li>
						<li><img src="../static/assets/magazine/img/i4.jpg" alt=""></li>
						<li><img src="../static/assets/magazine/img/i5.jpg" alt=""></li>
						<li><img src="../static/assets/magazine/img/i6.jpg" alt=""></li>
						<li><img src="../static/assets/magazine/img/i7.jpg" alt=""></li>
						<li><img src="../static/assets/magazine/img/i8.jpg" alt=""></li>
					</ul>
				</div>
			</div>
			<div class="footer-bottom row align-items-center">
				<p class="footer-text m-0 col-lg-8 col-md-12">
					Copyright &copy;<script>document.write(new Date().getFullYear());</script>
					 All rights reserved NEURAL FARMS
					 <a href="https://colorlib.com" target="_blank"></a>
				</p>
				<div class="col-lg-4 col-md-12 footer-social">
					<a href="#"><i class="fa fa-facebook"></i></a>
					<a href="#"><i class="fa fa-twitter"></i></a>
					<a href="#"><i class="fa fa-dribbble"></i></a>
					<a href="#"><i class="fa fa-behance"></i></a>
				</div>
			</div>
		</div>
	</footer>
	<!-- End footer Area -->
	<script src="../static/assets/magazine/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="../static/assets/magazine/js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="../static/assets/magazine/js/easing.min.js"></script>
	<script src="../static/assets/magazine/js/hoverIntent.js"></script>
	<script src="../static/assets/magazine/js/superfish.min.js"></script>
	<script src="../static/assets/magazine/js/jquery.ajaxchimp.min.js"></script>
	<script src="../static/assets/magazine/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/assets/magazine/js/mn-accordion.js"></script>
	<script src="../static/assets/magazine/js/jquery-ui.js"></script>
	<script src="../static/assets/magazine/js/jquery.nice-select.min.js"></script>
	<script src="../static/assets/magazine/js/owl.carousel.min.js"></script>
	<script src="../static/assets/magazine/js/mail-script.js"></script>
	<script src="../static/assets/magazine/js/main.js"></script>
</body>
</html>